/* unvisited link */
a:link {
    color: black;
}
body {background-color: #e39ae4;
}
/* visited link */
a:visited {
    color: purple;
}

/* selected link */
a:active {
    color: purple;
}

img {
	max-width: 100%;
	border: 5px solid #000;
}

div {
	padding: 2px;
}

header {
	text-align: center;
}

footer {
	text-align: center;
	background-color: black;
	color: white;
}

h1 {
	top: 20px;
	text-align: center;
}

.head {
	margin: 5px;
	display: inline;
}

.content {
	max-width: 30%;
	text-align: center;
	display: inline-block;
}


#intro {
	text-align: center;
}

#edu {
	text-align: center;
}

#experience {
	text-align: center;
}

#quotes {
	text-align: center;	
}

#footlink {
	color: white;
}
