/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: purple;
}

/* selected link */
a:active {
    color: purple;
}

img {
	max-width: 100%;
}

div {
	padding: 2px;
}

header {
	text-align: center;
}

footer {
	text-align: center;
	background-color: blue;
	color: white;
}

h1 {
	position: absolute;
	top: 20px;
	margin-left: 100px;
}

.head {
	margin: 5px;
	display: inline;
}

.content {
	max-width: 30%;
	text-align: center;
	display: inline-block;
}


#intro {
	text-align: center;
}

#edu {
	text-align: center;
}

#experience {
	text-align: center;
}

#quotes {
	text-align: center;	
}

#footlink {
	color: white;
}
